<h1 class='page-header'>History</h1>

<table class="table table-striped">
  <tr>
    <th>Date</th>
    <th>Opponent</th>
    <th>Score</th>
    <th>Result</th>
  </tr>
  <% @games.each do |game|
      first_player = game.player == current_user
      if first_player
        first_score = game.player_score
        second_score = game.other_player_score
      else
        first_score = game.other_player_score
        second_score = game.player_score
      end
  %>
    <tr>
      <td><%= game.date %></td>
      <td><%= first_player ? game.other_player.email : game.player.email %></td>
      <td><%= first_score %>-<%= second_score %></td>
      <td><%= first_score > second_score ? 'W' : 'L' %></td>
    </tr>
  <% end %>
</table>
