<%
  @months = Game::MONTHS
  today = Date.today
  @current_month = @game.date ? @game.date.month : today.month
  @current_day = @game.date ? @game.date.day : today.day
  @current_year = @game.date ? @game.date.year : today.year
  @opponents = User.where.not(id: current_user.id)
%>
<h1 class='page-header'>Log Game</h1>

<form class="game-form" action="<%= log_url %>" method="post">
  <%= auth_token %>
  <div class="form-inline<%= @game.errors[:date].empty? ? "" : " has-error" %>">
    <label for="game-date">Date Played:</label>

    <select id="game-date" class="form-control" name="game[month]">
      <% @months.each_with_index do |month, idx|
        idx += 1
        if idx == @current_month %>
          <option value="<%= idx %>" selected><%= month %></option>
        <% else %>
          <option value="<%= idx %>"><%= month %></option>
        <% end %>
      <% end %>
    </select>

    <select class="form-control" name="game[day]">
      <% (1..31).each do |day|
        if day == @current_day %>
          <option value="<%= day %>" selected><%= day %></option>
        <% else %>
          <option value="<%= day %>"><%= day %></option>
        <% end %>
      <% end %>
    </select>

    <select class="form-control" name="game[year]">
    <% ((@current_year - 4)..@current_year).each do |year|
      if year < @current_year %>
        <option value="<%= year %>"><%= year %></option>
      <% else %>
        <option value="<%= year %>" selected><%= year %></option>
      <% end %>
    <% end %>
    </select>

  </div>

  <div class="form-group<%= @game.errors[:other_player_id].empty? ? "" : " has-error" %>">
    <label for="select-other-player-id">Opponent:</label>

    <select
      id="select-other-player-id"
      class="form-control"
      name="game[other_player_id]">
      <% @opponents.each do |opponent|
        if opponent == @game.other_player %>
        <option value="<%= opponent.id %>" selected><%= opponent.email %></option>
        <% else %>
        <option value="<%= opponent.id %>"><%= opponent.email %></option>
        <% end %>
      <% end %>
    </select>

  </div>

  <div class="form-group<%= @game.errors[:player_score].empty? ? "" : " has-error" %>">
    <label for="input-player-score">Your Score:</label>
    <input
      type="number"
      id="input-player-score"
      class="form-control"
      name="game[player_score]"
      value = "<%= @game.player_score %>" />
  </div>

  <div class="form-group<%= @game.errors[:other_player_score].empty? ? "" : " has-error" %>">
    <label for="select-other-player-score">Their Score:</label>
    <input
      type="number"
      id="select-other-player-score"
      class="form-control"
      name="game[other_player_score]"
      value = "<%= @game.other_player_score %>" />
  </div>

  <div class="form-group">
    <input type="submit" class="btn btn-success" value="Save" />
    <%= link_to "Cancel", "/" %>
  </div>
</form>
